# .env.example
# Clé API Gemini (Obligatoire pour le Chatbot)
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=

# Airtable Configuration (Optionnel si vous utilisez le stockage local)
VITE_AIRTABLE_API_TOKEN=
VITE_AIRTABLE_BASE_ID=appwSSdoHLI09lNwk
